/* Text color (dk grey): #444746   
Background color (lt beige): #92d1b3 or #ede9d0 or #fff4ef
Primary color (red): #49896f
Secondary color (aqua):  #bd92af or #54bac3 or #89c893
Accent color 1 - hover & focus, header border (dk teal): #49896f or  #00525c  or #d93025
Accent color 2 - (lt red) #b74555 or #ff7259
Logo background color (): 
grid background ( ): # */
:root {
  --font-body: "Karla", ui-sans-serif, system-ui, sans-serif;
  --font-header: "Fugaz One", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Inconsolata", ui-monospace, SFMono-Regular, monospace;
}

html {
  font-family: var(--font-body);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: #444746;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@supports (font-optical-sizing: auto) {
  html, h1, h2, h3, h4, h5, h6 {
    font-optical-sizing: auto;
  }
}

* {
  box-sizing: border-box;
}

.font-header {
  font-family: var(--font-header);
  font-optical-sizing: auto;
}

.font-body {
  font-family: var(--font-body);
}

.font-heading {
  font-family: var(--font-heading);
  font-optical-sizing: auto;
  font-weight: 500;
}

body {
  background-color: #92d1b3;
  margin: 2rem 3rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3, h4 {
  font-size: 2rem;
}

h5, h6 {
  font-size: 1.6rem;

}
/* a {
  color: #444746;
  text-decoration: none;
} */

.page-header {
  font-family: var(--font-body);
  display: flex;
  background-color: #d93025;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1em;
  border-bottom: 2em solid #fff;
}

h1.heading { 
  font-family: var(--font-header);
  color: #fff; 
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 auto;
}
.page-footer {
  
}