/* === COLOR PALETTE & VARIABLES === 
Text color (dk grey): #080821
Background color: #b2bc6e
Primary color: #ff8a43
Secondary color: #ff83b4
Accent color 1 - hover & focus, header border (turquoise): #7fd1ae or #98d0d5
Navbar Title: #9e0023 
Navbar background: #ff999b
Navbar border: #ff5356

/* === GLOBAL STYLES === */
:root {
  --font-body: "Karla", ui-sans-serif, system-ui, sans-serif;
  --font-title: "Fugaz One", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Inconsolata", ui-monospace, SFMono-Regular, monospace;
}

/* --- BASE/RESET STYYLES --- */

html, body {
  margin: 0;
  padding: 0;
  background-color: #b2bc6e;
  color: #080821
  /* Typography */
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;  
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

h2 {
  /* Layout */
  margin: 0.5rem auto;
  text-align: center;
  /* Typography */
  color: #005b59;
  font-size: 2.8rem;
  font-weight: bolder;
}

/* --- LAYOUT STYLES --- */

.navbar {
  border-bottom: 8px solid #ff5356;
  background-color: #ff999b;
}

/* --- MODULES/COMPONENT STYLES --- */

.pokemon-brand-style { /* navbar-brand title */
  font-family: var(--font-title);  
  color: #9e0023;
  font-size: 2.2rem;
}

.pokemon-card {
  /* Box Model/Appearance */
  border-radius: 0.5rem;
  background-color: #fff;
  /* Visual */  
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.pokemon-image {
  /* Box Model */
  width: 150px;
  height: auto;
  /* Visual */
  transition: transform 0.3s ease-in-out;
}

.card-title, .modal-title {
  color: #007672;
  font-size: 1.8rem;
}

.btn-custom-style {
  /* Box Model/Layout Overrides*/
  width: 90%;
  margin: 1rem auto;
  /* Visual Overrides */
  border: 4px solid #ff83b4;
  background-color: #ff83b4;
  /* Typography Overrides*/
  font-family: var(--font-body);
  font-size: 1.25rem;
  color: #080821;
  text-decoration: none;
  /* Transitions */
  cursor: pointer;
  transition-duration: all 0.4s;
}

.modal {
  background-color: rgba(209, 255, 247, 0.35);
}

.modal-pokemon-image { /* ensure the modalimage is centered */
  /* Layout */
  display: block;
  /* Box Model */
  max-width: 250px;
  height: auto;
}

#loading-message div {
  /* Layout */
  display: block;
  margin: 1rem;
  /* Box Model/Appearance */
  background-color: #fff;
  /* Typography */
  text-align: center;
  font-size: 1rem;
}

/* --- STATE STYLES --- */

.btn-custom-style:hover {
  border: 4px solid #ff83b4;
  background-color: #fff;
  color: #ff83b4;
  font-weight: bolder;
}

button.btn-close:hover {
  background-color: #ff83b4;
}

.pokemon-card:hover {
  /* Layout */
  z-index: 10;
  /* Visual */
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* --- UTILITIES --- */

.font-body {
  font-family: var(--font-body);
}